* {
    box-sizing: border-box;
}

body {
    overflow-x: none;
}

/* class activity 1 */
main.class-activity-1 {
    width: 70%;
    margin: auto;
    border: 2px solid black;
    font-family: sans-serif;
    margin: 100px auto 30px;
    position: relative;
}

.class-activity-1 h1 {
    background: black;
    color: aqua;
}

.class-activity-1 h3 {
    color: aqua;
}

.class-activity-1 ol {
    background: rgb(227, 91, 70, 0.5);
}

.class-activity-1 ul {
    color: yellow;
    list-style-type: lower-greek;
    background: orangered;
    padding: 20px;
}

.class-activity-1 mark {
    padding: 0 10px;
}

/* We are reds 😎 */
.class-activity-1 .we-are-reds {
    color: red;
}
/* class activity 1 */

/* class activity 2 */
main.class-activity-2 {
    width: 50%;
    margin: auto;
    border: 2px solid black;
    font-family: sans-serif;
    background: #08070d;
    margin: 100px auto 30px;
    position: relative;
    border-top: 3px solid #f4842e;
    border-bottom: 10px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.class-activity-2 img.form-close-x {
    position: absolute;
    top: 40px;
    left: 50px;
    height: 40px !important;
    height: auto;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 3px;
}

.class-activity-2 .blue-circle,
.class-activity-2 .orange-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.class-activity-2 .blue-circle {
    background: rgb(31, 135, 220);
    left: 30px;
    /* top: -120px; */
    transform: rotate(180deg);
}

.class-activity-2 .orange-circle {
    background: #d27b1c;
    right: 100px;
    /* bottom: -50px; */
    bottom: 0px;
}

.class-activity-2 form {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 30px 40px;
    border-radius: 5px;
    width: 50%;
    margin: 40px auto;
    position: relative;
    z-index: 2;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.class-activity-2 form h3.form-header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.class-activity-2 form label,
.class-activity-2 form input,
.class-activity-2 form button {
    display: block;
    width: 100%;
}

.class-activity-2 form label {
    margin-bottom: 5px;
}

.class-activity-2 form input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
}

.class-activity-2 form input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.class-activity-2 form button {
    background: white;
    color: black;
    padding: 15px;
    margin: 20px 0;
    cursor: pointer;
    font-weight: 800;
    border-radius: 5px;
    border: 1px solid transparent;
}

.class-activity-2 form button:hover {
    color: white;
    background: transparent;
    border: 1px solid white;
}

.class-activity-2 form span {
    display: flex;
    gap: 10px;
}

.class-activity-2 form span a {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border: none;
    /* font-weight: 500; */
}

.class-activity-2 form span a:hover {
    color: black;
    background: white;
}
/* class activity 2 */

/* class activity 3 */
main.class-activity-3 {
    width: 50%;
    margin: auto;
    border: 2px solid black;
    font-family: "Times New Roman", Times, serif;
    background: #f8f9cf;
    margin: 100px auto 30px;
    position: relative;
    text-align: center;
    padding: 30px 90px;
}

main.class-activity-3 h3.header {
    font-size: 24px;
}

main.class-activity-3 .registration-form,
main.class-activity-3 .login-form {
    border: 3px solid #107914;
    margin: 5px auto;
    text-align: center;
    padding: 30px;
}

.class-activity-3 .registration-form form,
.class-activity-3 .login-form form {
    width: 60%;
    margin: auto;
}

.class-activity-3 form label,
.class-activity-3 form input {
    display: block;
    width: 100%;
}

.class-activity-3 form button {
    display: block;
    margin: auto;
    cursor: pointer;
}

.class-activity-3 form label {
    margin-bottom: 5px;
}

.class-activity-3 form input {
    margin-bottom: 15px;
}
/* class activity 3 */

/* class activity 4 */
main.class-activity-4 {
    margin: 100px auto 30px;
    position: relative;
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background: #344a73;
    font-family: sans-serif;
    border-top: 5px solid #d6874e;
    border-bottom: 5px solid white;
}

.class-activity-4 img.form-close-x {
    position: absolute;
    top: 40px;
    left: 0px;
    height: 50px !important;
    height: auto;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    padding: 10px;
}

.class-activity-4 .forms-container {
    padding: 20px;
    margin: auto;
    display: flex;
    gap: 70px;
    align-items: center;
    width: 80%;
    margin: auto;
}

.class-activity-4 .forms-container div.form-container {
    width: 50%;
}

.class-activity-4 .forms-container div.form-container form {
    background: white;
    padding: 20px;
    border-radius: 5px;
}

.class-activity-4 .forms-container div.form-container form h3.form-header {
    font-size: 24px;
    text-align: center;
}

.class-activity-4 form label,
.class-activity-4 form input,
.class-activity-4 form button {
    display: block;
    width: 100%;
}

.class-activity-4 form label {
    margin-bottom: 3px;
}

.class-activity-4 form input {
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid grey;
    outline: none;
}

.class-activity-4 form button {
    background: #47c2a3;
    color: white;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
    margin-top: 20px;
}

.class-activity-4 form button:hover {
    background: #344a73;
    color: #fff;
}

.class-activity-4 form .center {
    text-align: center;
}

.class-activity-4 form .form-policy {
    font-size: 14px;
    color: grey;
    line-height: 20px;
}

.class-activity-4 .forms-container div.form-container p.outside-form-footer {
    text-align: center;
    color: white;
}

.class-activity-4 .forms-container div.form-container p.outside-form-footer a {
    color: #47c2a3;
}

.class-activity-4
    .forms-container
    div.form-container
    p.outside-form-footer
    a:hover {
    color: white;
}
/* class activity 4 */

/* class activity 5 */
/* #4F636E - meta logo */
/* #0068FC - facebook logo */
/* #EFF6FE - background right color */
/* #FCF9F4 background left color */
main.class-activity-5 {
    background: linear-gradient(270deg, #eff6fe, #fcf9f4);
    margin: 100px auto 30px;
    position: relative;
    width: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
    border-top: 5px solid #0068fc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.class-activity-5 .page-header p {
    color: #4f636e;
}

.class-activity-5 form input,
.class-activity-5 form button,
.class-activity-5 form a {
    /* display: block; */
    width: 100%;
}

.class-activity-5 form input {
    padding: 20px;
    border: 1px solid #cbd0d4;
    outline: none;
    border-radius: 10px;
    margin: 10px auto;
}

.class-activity-5 form input::placeholder {
    color: #adb2b5;
}

.class-activity-5 form button {
    background: #0068fc;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.class-activity-5 form a.forgotten-password {
    color: #4f636e;
    text-decoration: none;
    position: relative;
    top: 10px;
    margin: 50px auto;
}

.class-activity-5 form a.forgotten-password:hover {
    color: #0068fc;
}

.class-activity-5 button.create-new-account {
    background: transparent;
    border: 1px solid #7f8c94;
    color: #4f636e;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: -20px;
    cursor: pointer;
}

.class-activity-5 div.page-footer div.create-new-account a {
    text-decoration: none;
    color: #4f636e;
}

.class-activity-5 div.page-footer span.meta-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.class-activity-5 div.page-footer span.meta-logo img {
    height: 20px;
    width: auto;
}

.class-activity-5 div.page-footer span.meta-logo span {
    color: #4f636e;
}
/* class activity 5 */

/* class activity 10 */
main.class-activity-10 {
    margin: 100px auto 30px;
    position: relative;
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
}

.class-activity-10 table {
    background: #ebeff2;
    width: 100%;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
}

.class-activity-10 th,
.class-activity-10 td {
    padding: 10px;
}

.class-activity-10 th {
    background: #010080;
    color: white;
    text-transform: uppercase;
}

.class-activity-10 tr:nth-of-type(even) {
    background: #e08283;
}

.class-activity-10 tr td:first-child,
.class-activity-10 tr td:nth-child(2) {
    text-transform: capitalize;
}
/* class activity 10 */

/* class activity 11 */
main.class-activity-11 {
    margin: 100px auto 30px;
    position: relative;
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
}

.class-activity-11 table {
    background: #fff;
    width: 100%;
    text-align: left;
    /* border: 1px solid black;
    border-collapse: collapse; */
}

.class-activity-11 th,
.class-activity-11 td {
    text-align: center;
    padding: 10px;
}

.class-activity-11 th:nth-child(1) {
    background: #303938;
    color: white;
    text-transform: capitalize;
}

.class-activity-11 th:nth-child(2) {
    background: #0187ce;
    color: white;
    text-transform: capitalize;
}

.class-activity-11 th:nth-child(3) {
    background: #db4c46;
    color: white;
    text-transform: capitalize;
}

.class-activity-11 tr td:nth-child(1){
    background: #E4E2E3;
}

.class-activity-11 tr td:nth-child(2){
    background: #C0EAFA;
}

.class-activity-11 tr td:nth-child(3){
    background: #FCDADB;
}

.class-activity-11 p.table-caption {
    text-align: center;
    margin: 10px 0;
    font-style: italic;
}
/* class activity 11 */
