* {
    box-sizing: border-box;
}

body {
}

/* Assignment 1 */
main.assignment-1 {
    margin: auto;
    padding: 0 20px;
    text-align: center;
    margin: 100px auto 30px;
    position: relative;
}

main.assignment-1 .the-four-divs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.assignment-1 .rgb-bg,
.assignment-1 .rgba-bg,
.assignment-1 .hex-6-bg,
.assignment-1 .hex-3-bg {
    border: 1px solid black;
    width: 300px;
    height: 200px;
    margin: 10px;
    text-align: center;
}

.assignment-1 .rgb-bg {
    background-color: rgb(110, 200, 50);
}

.assignment-1 .rgba-bg {
    background-color: rgba(110, 200, 50, 0.5);
}

.assignment-1 .hex-6-bg {
    background-color: #ee8822;
}

.assignment-1 .hex-3-bg {
    background-color: #e82;
}

.assignment-1 .background-color-code {
    background: #fafafa;
    padding: 10px;
    margin: auto;
}
/* Assignment 1 */

/* Assignment 2 */
main.assignment-2 {
    margin: auto;
    padding: 20px;
    margin: 100px auto 30px;
    position: relative;
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background: white;
    font-family: "Times New Roman", Times, serif;
}

.assignment-2 .assignment-title {
    font-family: cursive, sans-serif;
}

.assignment-2 .dog-image {
    position: absolute;
    right: 0;
    top: 20px;
}

.assignment-2 .section-title {
    background: #ffffdd;
    color: #7b0501;
    font-weight: 800;
    font-size: 22px;
}

.assignment-2 p.interest span {
    color: red;
}

.assignment-2 p.interest span:first-child {
    font-weight: 800;
}

.assignment-2 form div {
    margin-bottom: 3px;
}

.assignment-2 table,
.assignment-2 th,
.assignment-2 tr,
.assignment-2 td {
    border: 1px solid black;
    border-collapse: collapse;
}

.assignment-2 .table-section {
    text-align: center;
    font-weight: 700;
}

.assignment-2 .first-column {
    color: #7b0501;
}
/* Assignment 2 */

/* Assignment 3 */
/* #FE5A61 - primary color */
main.assignment-3 {
    margin: auto;
    margin: 100px auto 30px;
    position: relative;
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background: #f5dfe2;
    font-family: serif;
    color: black;
}

.assignment-3 .girl-develop-it {
    background: white;
    padding: 10px;
    border-bottom: 10px solid #fe5a61;
    z-index: 2;
    position: relative;
    top: 5px;
    margin: 0px 60px -40px;
}

.assignment-3 .girl-develop-it img.logo {
    display: flex;
    margin: auto;
}

.assignment-3 .girl-develop-it h3,
.assignment-3 .girl-develop-it h4 {
    color: #fe5a61;
    font-size: 24px;
}

.assignment-3 .girl-develop-it h3 {
    font-size: 32px;
}

.assignment-3 .girl-develop-it .about-description span:nth-child(1),
.assignment-3 .girl-develop-it .about-description span:nth-child(2) {
    font-size: 24px;
    font-weight: 800;
    text-decoration: underline;
}

.assignment-3 .girl-develop-it .about-description span:nth-child(3) {
    font-size: 24px;
    font-weight: 500;
    text-decoration: underline;
    font-style: italic;
}

.assignment-3 .girl-develop-it .central-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed grey;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.assignment-3 .girl-develop-it .central-container span:first-child {
    flex: 1;
}

.assignment-3 .girl-develop-it .central-container form .row {
    margin-bottom: 5px;
}

.assignment-3 .girl-develop-it .central-container form .row input {
    background: #f5dfe2;
    border: 1px solid grey;
}

.assignment-3 .girl-develop-it .central-container form fieldset {
    margin-bottom: 5px;
}

.assignment-3 .girl-develop-it .central-container form textarea {
    display: block;
    margin: 5px 0;
}

.assignment-3 .girl-develop-it .central-container span.projects {
    background: #f5dfe2;
    border: 1px solid #fe5a61;
    padding: 0 10px 20px;
    height: fit-content;
}

.assignment-3 .girl-develop-it table,
.assignment-3 .girl-develop-it tr,
.assignment-3 .girl-develop-it th,
.assignment-3 .girl-develop-it td {
    border: 1px solid black;
}

.assignment-3 .girl-develop-it span.footer {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.assignment-3 .girl-develop-it .bold {
    font-weight: 700;
}

.assignment-3 .girl-develop-it .minus-top {
    margin-top: -20px;
}

.assignment-3 .footer-zeros-ones {
    color: #fe5a61;
    word-wrap: break-word;
    z-index: 1;
    font-weight: 600;
}
/* Assignment 3 */

/* Assignment 4 */
main.assignment-4 {
    margin: auto;
    margin: 100px auto 30px;
    position: relative;
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background: #dddddd;
    font-family: sans-serif;
    color: black;
    padding: 30px 20px;
}

.assignment-4 img.form-close-x {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 50px !important;
    height: auto;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 3px;
}

.assignment-4 .sign-up-card {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.assignment-4 .sign-up-card .about {
    background: #357bf5;
    color: white;
    border: none;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.assignment-4 .sign-up-card .about p {
    margin-top: 0;
    color: rgba(255, 255, 255, 0.9);
}

.assignment-4 .sign-up-card .about a.create-account {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 13px 20px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

.assignment-4 .sign-up-card .sign-up-form-container {
    background: white;
    border: none;
    padding: 20px;
    text-align: center;
}

/* fixme - create a floating label */

.assignment-4 .sign-up-card .sign-up-form-container input,
.assignment-4 .sign-up-card .sign-up-form-container button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.assignment-4 .sign-up-card .sign-up-form-container input {
    padding: 15px;
    background: #dddddd;
    outline: none;
    border: none;
    border-radius: 5px;
}

.assignment-4 .sign-up-card .sign-up-form-container button {
    background: #357bf5;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    font-size: 16px;
}

.assignment-4 .sign-up-card .sign-up-form-container .social-links a img {
    height: 30px;
}
/* Assignment 4 */

/* Assignment 5 */
main.assignment-5 {
    margin: auto;
    margin: 100px auto 30px;
    position: relative;
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background: #262626;
    font-family: sans-serif;
    color: black;
    padding: 50px 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.assignment-5 .button {
    text-decoration: none;
    padding: 15px 25px;
    text-align: center;
    color: white;
}

.assignment-5 .button:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
}

.assignment-5 .button-1 {
    background: #ff1703;
}

.assignment-5 .button-2 {
    background: #ffa72c;
    border-radius: 5px;
}

.assignment-5 .button-3 {
    background: #85057c;
    border: 1px solid white;
}

.assignment-5 .button-4 {
    background: #2901f8;
    border-radius: 5px;
    border: 1px solid white;
}

.assignment-5 .button-5 {
    background: #00801f;
    border-radius: 5px;
    border: 1px dotted white;
}

.assignment-5 .button-6 {
    background: #00801f;
    border: 2px dashed white;
}

.assignment-5 .button-7 {
    background: #fdff46;
    color: black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.assignment-5 .button-8 {
    background: #ff4910;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.assignment-5 .button-9 {
    background: #00801f;
    outline: 2px dashed;
    outline-offset: -5px;
}

.assignment-5 .button-10 {
    background: #424242;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.assignment-5 .button-10 span {
    border-top: 2px dashed #e3e8a8;
    border-bottom: 2px dashed #e3e8a8;
    padding: 10px;
    width: 100%;
}

.assignment-5 .button-11 {
    background: #ff15de;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.assignment-5 .button-11 span.circle {
    background: #ffa72c;
    height: 35px;
    width: 35px;
    border-radius: 25px;
}

.assignment-5 .button-12 {
    background: transparent;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 3px solid white;
}

.assignment-5 .button-12 span.circle {
    background: #85057c;
    height: 35px;
    width: 35px;
    border-radius: 25px;
}

.assignment-5 .button-13 {
    background: linear-gradient(90deg, #000, #66ee42, #000);
}

.assignment-5 .button-14 {
    background: linear-gradient(90deg, #ec1417, #2f01df);
}

.assignment-5 .button-15 {
    background: repeating-radial-gradient(#00f03f, #00f03f, #095e94);
}

.assignment-5 .button-16 {
    background: #262626;
    box-shadow: 0px 0px 20px 0px lightblue;
}
/* Assignment 5 */
