* {
    box-sizing: border-box;
}

body {
}

/* Assignment 1 */
main.assignment-1 {
    margin: auto;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 70px;
}

main.assignment-1 .the-four-divs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rgb-bg,
.rgba-bg,
.hex-6-bg,
.hex-3-bg {
    border: 1px solid black;
    width: 300px;
    height: 200px;
    margin: 10px;
    text-align: center;
}

.rgb-bg {
    background-color: rgb(110, 200, 50);
}

.rgba-bg {
    background-color: rgba(110, 200, 50, 0.5);
}

.hex-6-bg {
    background-color: #ee8822;
}

.hex-3-bg {
    background-color: #e82;
}

.background-color-code {
    background: #fafafa;
    padding: 10px;
    margin: auto;
}
/* Assignment 1 */

/* Assignment 2 */
main.assignment-2 {
    margin: auto;
    padding: 20px;
    position: relative;
    top: 100px;
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background: white;
    font-family: "Times New Roman", Times, serif;
}

main.assignment-2 .assignment-title {
    font-family: cursive, sans-serif;
}

main.assignment-2 .dog-image {
    position: absolute;
    right: 0;
    top: 20px;
}

main.assignment-2 .section-title {
    background: #ffffdd;
    color: #7b0501;
    font-weight: 800;
    font-size: 22px;
}

main.assignment-2 p.interest span {
    color: red;
}

main.assignment-2 p.interest span:first-child {
    font-weight: 800;
}

main.assignment-2 form div {
    margin-bottom: 3px;
}

main.assignment-2 table,
main.assignment-2 th,
main.assignment-2 tr,
main.assignment-2 td {
    border: 1px solid black;
    border-collapse: collapse;
}

main.assignment-2 .table-section {
    text-align: center;
    font-weight: 700;
}

main.assignment-2 .first-column {
    color: #7b0501;
}
/* Assignment 2 */

/* Assignment 3 */
main.assignment-3 {
    margin: auto;
    position: relative;
    top: 100px;
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background: #344a73;
    font-family: sans-serif;
}

main.assignment-3 .top-line {
    background: #d6874e;
    width: 100%;
    height: 5px;
    position: relative;
    top: 0;
}

main.assignment-3 img.form-close-x {
    position: absolute;
    top: 40px;
    left: 0px;
    height: 50px !important;
    height: auto;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    padding: 10px;
}

main.assignment-3 .forms-container {
    padding: 20px;
    margin: auto;
    display: flex;
    gap: 70px;
    align-items: center;
    width: 80%;
    margin: auto;
}

main.assignment-3 .forms-container form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
}
main.assignment-3 .forms-container form h3.form-header {
    font-size: 24px;
    text-align: center;
}

main.assignment-3 form label,
main.assignment-3 form input,
main.assignment-3 form button {
    display: block;
    width: 100%;
}

main.assignment-3 form label{
    margin-bottom: 3px;
}

main.assignment-3 form input {
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid grey;
    outline: none;
}

main.assignment-3 form button {
    background: #47c2a3;
    color: white;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
    margin-top: 20px;
}

main.assignment-3 form button:hover {
    background: #344a73;
    color: #fff;
}

main.assignment-3 form .center{
    text-align: center;
}

main.assignment-3 form .form-policy{
    font-size: 14px;
    color: grey;
    line-height: 20px;
}

main.assignment-3 form .outside-form-footer{
    /* position: relative; */
    /* bottom: -0px; */
}

main.assignment-3 form .outside-form-footer a{
    color: #47c2a3;
}

main.assignment-3 form .outside-form-footer a:hover{
    color: #344a73;
}
/* Assignment 3 */
