@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary-white: #f9f9f9;
    --primary-black: #000;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

/* general rules */
.nav-link-text {
    display: none;
}
/* general rules */

header nav {
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 5px;
    z-index: 10;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-black);
    font-weight: 700;
    background: var(--primary-white);
    color: black;
    border-radius: 50px;
    padding: 20px;
    display: inline-block;
    font-size: 18px;

    i {
        text-align: center;
        display: inline-block;
        width: 22px;
        height: 18px;
        /* font-size: 18px; */
    }

    &:hover,
    .active,
    .active:focus {
        color: var(--primary-white);
        font-weight: 700;
        background: var(--primary-black);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
}

nav ul li a:hover > span {
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

nav ul li a img.nav-course-repo {
    height: 40px;
    width: auto;
}

section {
}

div.hero-wrapper,
div.about-wrapper,
div.skills-wrapper,
div.contact-wrapper {
    position: sticky;
    top: 0px;
    padding: 100px 200px;
    min-height: 100vh;
    width: 100vw;
}

div.hero-wrapper {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p.greetings {
        font-size: 1.5rem;
        opacity: 0;
        animation: fadeIn 3s forwards;
    }

    h1 {
        font-size: 4rem;
        margin-top: -20px;
        transform: translateX(-100%);
        animation: slideInFromLeft 1.5s forwards 2s;
    }

    p.title {
        font-size: 1.5rem;
        margin-top: -10px;
        opacity: 0;
        transform: translateY(100%);
        animation: slideInFromBelow 1.5s forwards 4s;
        font-family: Raleway, sans-serif;
    }

    a.learn-more {
        display: inline-block;
        width: fit-content;
        background: black;
        color: yellow;
        border: 2px solid black;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 20px;
        font-weight: 700;
        opacity: 0;
        transition: background 0.3s, transform 0.3s;

        transform: translateY(100%);
        animation: slideInFromBelow 1.5s forwards 5s;

        &:hover {
            transform: scale(1.1);
            color: black;
            background: transparent;
        }
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    to {
        transform: translateX(0);
    }
}

@keyframes slideInFromBelow {
    to {
        transform: translateY(-100%);
        opacity: 1;
    }
}

div.about-wrapper {
    background-color: orange;

    div.about-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        font-family: "Poppins", sans-serif;
        line-height: 1.6;
        /* margin-top: -80px; */

        span.image-background {
            flex: 1;
            border: 3px solid var(--primary-black);
            border-radius: 15px;

            img {
                width: 100%;
                border-radius: 15px;
                background: var(--primary-black);
                position: relative;
                bottom: -30px;
                right: -30px;
            }
        }

        span {
            flex: 2;

            .section-title,
            .section-subtitle {
                text-align: left;
            }

            /* p span.highlight{
                font-weight: bold;
                color: #ffa500;
                background: #000;
                padding: 0 5px;
                border-radius: 5px;
            } */

            p.about-me {
                margin-top: 30px;
            }
        }
    }
}

div.skills-wrapper {
    background-color: orangered;
    color: white;

    div.skills-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;

        span.tools {
            flex: 1;
            display: grid;

            span.animation-wheel {
                border-radius: 50%;
                height: 350px;
                width: 350px;
                margin: auto;
                position: relative;

                animation-name: wheel;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;

                img {
                    width: 80px;
                    position: absolute;
                    opacity: 0;
                    animation-fill-mode: forwards;

                    animation: tool 10s linear infinite;
                }

                img:nth-child(1) {
                    right: -8.5%;
                    top: 40%;
                    /* animation-delay: 0s; */
                }
                img:nth-child(2) {
                    right: 17%;
                    top: 85.5%;
                    /* animation-delay: 0.5s; */
                }
                img:nth-child(3) {
                    right: 67%;
                    top: 85.5%;
                    /* animation-delay: 1s; */
                }
                img:nth-child(4) {
                    left: -8.5%;
                    top: 40%;
                    animation-delay: 1.5s;
                }
                img:nth-child(5) {
                    left: 17%;
                    top: -5%;
                    /* animation-delay: 2s; */
                }
                img:nth-child(6) {
                    right: 17%;
                    top: -5%;
                    /* animation-delay: 2.5s; */
                }
            }
        }

        span.repos {
            position: relative;
            flex: 1;
            display: flex;
            align-items: center;

            img {
                width: 100%;
            }

            span.screen-note {
                position: absolute;
                top: 50px;
                right: 50px;
                left: 50px;
                text-align: center;

                p span.repos {
                    display: inline;
                    background: #eeedea;
                    color: #4d4d4d;
                    padding: 2px 5px;
                    border-radius: 5px;
                    font-weight: 700;
                }

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;

                    img {
                        height: 30px;
                        width: auto;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

@keyframes wheel {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes tool {
    0% {
        opacity: 1;
        transform: rotate(0deg) scale(0.8);
    }
    25% {
        opacity: 1;
        transform: rotate(-90deg) scale(0.9);
    }
    50% {
        opacity: 1;
        transform: rotate(-180deg) scale(0.8);
    }
    75% {
        opacity: 1;
        transform: rotate(-270deg) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: rotate(-360deg) scale(0.8);
    }
}

div.contact-wrapper {
    background-color: black;
    color: white;

    div.contact-container {
        display: flex;
        gap: 30px;

        form {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .form-row {
                label,
                input,
                textarea {
                    display: block;
                    width: 100%;
                }

                input,
                textarea {
                    padding: 10px;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    font-size: 18px;
                }

                label {
                    /* position: absolute;
                    left: -30px;
                    top: 30px;
                    font-size: 14px;
                    pointer-events: none;
                    transition: 0.2s;
                    color: grey; */
                    font-size: 12px;
                    margin-bottom: 3px;
                    /* visibility: hidden; */
                }

                input:focus + label,
                textarea:focus + label {
                    /* top: -2px;
                    left: -40px;
                    font-size: 12px;
                    color: #357bf5;
                    padding: 2px 5px;
                    border-radius: 10px; */
                    /* visibility: visible; */
                }

                textarea {
                    resize: vertical;
                }
            }

            button {
                display: block;
                width: 100%;
                background: #fff;
                color: black;
                border: 2px solid white;
                outline: none;
                border-radius: 5px;
                font-weight: 900;
                padding: 15px 20px;
                cursor: pointer;
                margin-top: 10px;

                &:hover {
                    background: transparent;
                    color: white;
                }
            }
        }

        div.social-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 40px;

            span.call-mail {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                a {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    text-decoration: none;
                    color: var(--primary-white);
                    font-size: 1.5rem;

                    img {
                        height: 70px;
                    }

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }

            span.social-links {
                display: flex;
                justify-content: flex-start;

                a img {
                    height: 70px;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

.section-title {
    text-align: center;
    font-size: 2rem;
    margin-top: unset;
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.section-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--primary-white);
    transition: width 0.3s ease-in-out;
}

div.about-wrapper h3.section-title {
    margin-left: unset;
    margin-right: unset;
}

div.about-wrapper h3.section-title::after {
    background: var(--primary-black);
}

section:hover .section-title::after {
    width: 100%;
}

.section-subtitle {
    text-align: center;
    margin-top: -30px;
    font-size: 1.2rem;
    font-style: italic;
}

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: var(--primary-white);
    color: var(--primary-black);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

@media only screen and (max-width: 1200px) {
    /* section {
        padding: 30px 30px;
        min-height: 100vh;
    } */
}

/* fixme - tablet view */
/* @media only screen and (max-width: 992px) {
    section {
        padding: 50px 100px;
    }
} */

@media only screen and (max-width: 768px) {
    header nav {
    }

    nav ul {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        background: var(--primary-white);
        position: fixed;
        bottom: -20px;
        left: 0;
        right: 0;
        z-index: 10;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 5px 10px;
    }

    nav ul li a {
        text-decoration: none;
        color: var(--primary-black);
        font-weight: 700;
        background: none;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        border: 1px solid var(--primary-white);

        &:hover,
        .active,
        .active:focus {
            color: var(--primary-white);
            font-weight: 700;
            background: var(--primary-black);
            transform: translateY(-40%) scale(1.1);
        }
    }

    .nav-link-text {
        display: block;
        font-size: 13px;
        font-weight: 400;
    }

    div.hero-wrapper,
    div.about-wrapper,
    div.skills-wrapper,
    div.contact-wrapper {
        padding: 30px 30px;
        min-height: 100vh;
        width: 100vw;
        top: -70vh;
    }

    div.hero-wrapper {
        top: 0;
    }

    div.about-container,
    div.skills-container,
    div.contact-container {
        flex-direction: column;
    }

    div.hero-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p.greetings {
            font-size: 1rem;
        }

        h1 {
            font-size: 2.5rem;
            margin-top: -20px;
            /* overflow: hidden; */
        }

        p.title {
            font-size: 1rem;
            margin-top: -10px;
        }

        a.learn-more {
            padding: 5px 10px;
            margin-top: 40px;
            font-size: 14px;
        }
    }

    div.about-wrapper {
        div.about-container {
            line-height: 1.2;
            /* margin-top: 50px; */
            gap: 20px;

            span.image-background {
                width: 80%;
                margin: auto;
                border: none;

                img {
                    width: 100%;
                    position: relative;
                    bottom: 0px;
                    right: 0px;
                    left: 0;
                }
            }

            span {
                h3.section-title {
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .section-subtitle {
                    margin-top: -20px;
                }

                .section-title,
                .section-subtitle {
                    text-align: center;
                }

                p.about-me {
                    margin-top: 10px;
                }
            }
        }
    }

    div.skills-wrapper {
        div.skills-container {
            span.tools {
                span.animation-wheel {
                    height: 200px;
                    width: 200px;
                    margin: 30px auto 10px;

                    img {
                        width: 50px;
                        position: absolute;
                    }
                }
            }

            span.repos {
                span.screen-note {
                    top: 20px;

                    span {
                        gap: 20px;
                    }
                }
            }
        }
    }

    div.contact-wrapper {
        padding-bottom: 100px;
        div.contact-container {
            div.social-container {
                gap: 20px;

                span.call-mail {
                    a {
                        font-size: 1rem;

                        img {
                            height: 50px;
                        }
                    }
                }

                span.social-links {
                    /* margin-top: 20px; */
                    justify-content: flex-start;

                    a img {
                        height: 50px;
                    }
                }
            }
        }
    }

    .back-to-top {
        bottom: 100px;
    }
}
