:root {
    --primary-white: #f9f9f9;
    --primary-black: #000;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

/* general rules */
.nav-link-text {
    display: none;
}
/* general rules */

header nav {
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 5px;
    z-index: 10;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-black);
    font-weight: 700;
    background: var(--primary-white);
    color: black;
    border-radius: 50px;
    padding: 20px;
    display: inline-block;
    font-size: 18px;

    i {
        text-align: center;
        display: inline-block;
        width: 22px;
        height: 18px;
    }

    &:hover,
    .active,
    .active:focus {
        color: var(--primary-white);
        font-weight: 700;
        background: var(--primary-black);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
}

nav ul li a:hover > span {
    display: inline-block;
    /* transition: 0.2s; */
    /* transition: transform 0.2s ease-in-out */
}

nav ul li a img.nav-course-repo {
    height: 40px;
    width: auto;
}

section {
    min-height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0px;
    padding: 100px 200px;
}

section.home {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p.greetings {
        font-size: 1.5rem;
        opacity: 0;
        animation: fadeIn 3s forwards;
    }

    h1 {
        font-size: 4rem;
        margin-top: -20px;
        transform: translateX(-100%);
        animation: slideInFromLeft 1.5s forwards 2s;
    }

    p.title {
        font-size: 1.5rem;
        margin-top: -10px;
        opacity: 0;
        transform: translateY(100%);
        animation: slideInFromBelow 1.5s forwards 4s;
    }

    a.learn-more {
        display: inline-block;
        width: fit-content;
        background: black;
        color: yellow;
        border: 2px solid black;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 20px;
        font-weight: 700;
        opacity: 0;
        transition: background 0.3s, transform 0.3s;

        transform: translateY(100%);
        animation: slideInFromBelow 1.5s forwards 5s;

        &:hover {
            transform: scale(1.1);
            color: black;
            background: transparent;
        }
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    to {
        transform: translateX(0);
    }
}

@keyframes slideInFromBelow {
    to {
        transform: translateY(-100%);
        opacity: 1;
    }
}

section.about {
    background-color: orange;

    div.about {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        font-family: "Poppins", sans-serif;
        line-height: 1.6;
        /* margin-top: -80px; */

        span.image-background {
            flex: 1;
            border: 3px solid var(--primary-black);
            border-radius: 15px;

            img {
                border-radius: 15px;
                background: var(--primary-black);
                position: relative;
                bottom: -30px;
                right: -30px;
            }
        }

        span {
            flex: 2;

            .section-title,
            .section-subtitle {
                text-align: left;
            }

            /* p span.highlight{
                font-weight: bold;
                color: #ffa500;
                background: #000;
                padding: 0 5px;
                border-radius: 5px;
            } */

            p.about-me {
                margin-top: 50px;
            }
        }
    }
}

section.skills {
    background-color: orangered;
    color: white;

    div.skills-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;

        span.tools {
            flex: 1;
            display: grid;

            span.animation-wheel {
                border-radius: 50%;
                height: 350px;
                width: 350px;
                margin: auto;
                position: relative;

                animation-name: wheel;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;

                img {
                    width: 80px;
                    position: absolute;
                    opacity: 0;
                    animation-fill-mode: forwards;

                    animation: tool 10s linear infinite;
                }

                img:nth-child(1) {
                    right: -8.5%;
                    top: 40%;
                    /* animation-delay: 0s; */
                }
                img:nth-child(2) {
                    right: 17%;
                    top: 85.5%;
                    /* animation-delay: 0.5s; */
                }
                img:nth-child(3) {
                    right: 67%;
                    top: 85.5%;
                    /* animation-delay: 1s; */
                }
                img:nth-child(4) {
                    left: -8.5%;
                    top: 40%;
                    animation-delay: 1.5s;
                }
                img:nth-child(5) {
                    left: 17%;
                    top: -5%;
                    /* animation-delay: 2s; */
                }
                img:nth-child(6) {
                    right: 17%;
                    top: -5%;
                    /* animation-delay: 2.5s; */
                }
            }
        }

        span.repos {
            position: relative;
            flex: 1;
            display: flex;
            align-items: center;

            span.screen-note {
                position: absolute;
                top: 50px;
                right: 50px;
                left: 50px;
                text-align: center;

                p span.repos {
                    display: inline;
                    background: #eeedea;
                    color: #4d4d4d;
                    padding: 2px 5px;
                    border-radius: 5px;
                    font-weight: 700;
                }

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;

                    img {
                        height: 30px;
                        width: auto;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

@keyframes wheel {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes tool {
    0% {
        opacity: 1;
        transform: rotate(0deg) scale(0.8);
    }
    25% {
        opacity: 1;
        transform: rotate(-90deg) scale(0.9);
    }
    50% {
        opacity: 1;
        transform: rotate(-180deg) scale(0.8);
    }
    75% {
        opacity: 1;
        transform: rotate(-270deg) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: rotate(-360deg) scale(0.8);
    }
}

section.contact {
    background-color: black;
    color: white;

    div.contact-container {
        display: flex;
        gap: 30px;

        form {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .form-row {
                label,
                input,
                textarea {
                    display: block;
                    width: 100%;
                }

                input,
                textarea {
                    padding: 10px;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    font-size: 18px;
                }

                label {
                    /* position: absolute;
                    left: -30px;
                    top: 30px;
                    font-size: 14px;
                    pointer-events: none;
                    transition: 0.2s;
                    color: grey; */
                    font-size: 12px;
                    margin-bottom: 3px;
                    /* visibility: hidden; */
                }

                input:focus + label,
                textarea:focus + label {
                    /* top: -2px;
                    left: -40px;
                    font-size: 12px;
                    color: #357bf5;
                    padding: 2px 5px;
                    border-radius: 10px; */
                    /* visibility: visible; */
                }

                textarea {
                    resize: vertical;
                }
            }

            button {
                display: block;
                width: 100%;
                background: #fff;
                color: black;
                border: 2px solid white;
                outline: none;
                border-radius: 5px;
                font-weight: 900;
                padding: 15px 20px;
                cursor: pointer;
                margin-top: 10px;
                
                &:hover {
                    background: transparent;
                    color: white;
                }
            }
        }

        div.social-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            span.call-mail {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                a {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    text-decoration: none;
                    color: var(--primary-white);
                    font-size: 1.5rem;

                    img {
                        /* height: 80px; */
                    }

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }

            span.social-links {
                display: flex;
                justify-content: flex-start;

                a img {
                    height: 70px;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

.section-title {
    text-align: center;
    font-size: 2rem;
    margin-top: unset;
}

.section-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #28b8ff; /* Adjust to your desired color */
    transition: width 0.3s ease-in-out;
}

.section:hover .section-title::after {
    width: 100%;
}

.section-subtitle {
    text-align: center;
    margin-top: -30px;
    font-size: 1.2rem;
}

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: var(--primary-white);
    color: var(--primary-black);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    header nav ul {
        display: none;
    }
}
