* {
    /* border: 1px dashed darksalmon;
   margin: 10px; */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* background-color: #f4f4f4;
border-right: 1px solid #ccc;
border-right: 1px solid #333; */

header nav {
    background: orange;
    /* padding: 10px; */
    position: fixed;
    width: 100%;
    top: 0;
    color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 11;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
}

nav span {
    display: flex;
    align-items: center;
}

nav span img{
    height: 50px;
    width: auto;
}

nav span h3{
    color: #333;
}

nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
    /* margin-left: 30px; */
}

nav ul li{
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
}

nav ul li a:hover{
    /* color: #fff; */
}

nav ul li a img.nav-course-repo{
    height: 40px;
    width: auto;
}

/* Dropdown container */
nav .dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown content (hidden by default) */
nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
nav .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
nav .dropdown-content a:hover {
    background-color: orange;
    color: white;
}

/* Show the dropdown menu on hover */
nav .dropdown:hover .dropdown-content {
    display: block;
}

div.page-container {
    display: flex;
    gap: 10px;
}

aside {
    height: 100%;
    position: fixed;
    top: 0;
    background: #333;
    min-width: 200px;
    z-index: -1;
}

main.index {
    padding: 100px 40px 20px 40px;
    margin-left: 200px;
}

/* activities/assignments github repo icon */
.github-repo-icon {
    position: fixed;
    top: 100px;
    left: 50px;
    height: 50px;
    width: auto;
    z-index: 10;
}
/* activities/assignments github repo icon */