:root{
    --primary-blue-color: #158FE6;
    --secondary-blue-color: #35C1F1;
    --primary-black: #333;
    --primary-white: #f9f9f9;
    --primary-gradient-color: linear-gradient(-90deg, #158FE6, #35C1F1);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

header nav {
    background: var(--primary-gradient-color);
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav span {
    display: flex;
    align-items: center;
}

nav span img{
    height: 50px;
    width: auto;
}

nav span h3{
    color: var(--primary-black);
}

nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav ul li{
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-black);
    font-weight: 700;
}

nav ul li a:hover{
}

nav ul li a img.nav-course-repo{
    height: 40px;
    width: auto;

    &:hover{
        transform: scale(1.1);
    }
}

/* Dropdown container */
nav .dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown content (hidden by default) */
nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-white);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
nav .dropdown-content a {
    color: var(--primary-black);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

nav .dropdown-content a:hover {
    background: var(--primary-gradient-color);
    color: white;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

div.page-container {
    display: flex;
    gap: 10px;
}

aside {
    height: 100%;
    position: fixed;
    top: 0;
    background: var(--primary-black);
    min-width: 200px;
    z-index: -1;
}

main.index {
    padding: 100px 40px 20px 40px;
    margin-left: 200px;
}

/* activities/assignments github repo icon */
.github-repo-icon {
    position: fixed;
    top: 100px;
    left: 50px;
    height: 50px;
    width: auto;
    z-index: 10;
    border-radius: 50%;

    &:hover{
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
}
/* activities/assignments github repo icon */